<% @model.sensors.each do |sensor| %>
  <div class="row sensor" data-sensor="<%= sensor.name %>">
    <div class="col-sm-12">
      <h4 class="name pull-left">
        <%= sensor.name %>
        <small class="timeago">
          <span class="glyphicon glyphicon-time"></span>
          <span class="val"><%= distance_of_time_in_words_to_now(sensor.last_update) %></span>
        </small>
      </h4>
      <h3 class="temperature pull-right">
        <span><%= sensor.current_temperature %></span><sup>°C</sup>
      </h3>
    </div>
    <div class="col-sm-12">
      <div class="chart"></div>
    </div>
  </div>
<% end %>
