<div class="page-header">
  <h1>Temperaturen <small>Pfarrhaus</small></h1>
</div>
<div class="row">
  <div class="col-md-4">
    <h4>
      11. Speptember - 11. Okotober<br/>
      <small>Nur so ein Test</small>
    </h4>
  </div>
  <div class="col-md-8">
    <ul class="nav nav-pills pull-right">
      <li><a href="#">Gesamt</a></li>
      <li><a href="#">6 Monate</a></li>
      <li class="active"><a href="#">Monat</a></li>
      <li><a href="#">Woche</a></li>
      <li><a href="#">Tag</a></li>
    </ul>
  </div>
</div>
<br/>
<% @model.sensors.each do |sensor| %>
  <div class="row panel panel-body">
    <div class="col-sm-3">
      <h5><%= sensor.name %></h5>
      <h3 class="temperature">
        <%= sensor.current_temperature %><sup>°C</sup>
      </h3>
    </div>
    <div class="col-sm-9">
      <div class="chart" data-sensor="<%= sensor.name %>"></div>
    </div>
  </div>
<% end %>
