// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row.sensor {
  background: #A6C776;
  color: #fff;
  margin-bottom: 20px;
  min-height: 250px;
  padding-bottom: 20px;

  .name {
    padding-top: 7px;
    > small {
      color: #fff;
      display: block;
      opacity: .5;
    }
  }

  .temperature {
    text-align: right;
    sup {
      font-size: .5em;
      font-weight: normal;
      position: relative;
      top: -10px;
    }
  }

  h3 {
  }

  tspan {  }
}

